<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Flask App</title>
		<link
			href="https://fonts.googleapis.com/css?family=Pacifico"
			rel="stylesheet"
			type="text/css"
		/>
		<link
			href="https://fonts.googleapis.com/css?family=Arimo"
			rel="stylesheet"
			type="text/css"
		/>
		<link
			href="https://fonts.googleapis.com/css?family=Hind:300"
			rel="stylesheet"
			type="text/css"
		/>
		<link
			href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300"
			rel="stylesheet"
			type="text/css"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
			integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk="
			crossorigin="anonymous"
		/>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='styles.css') }}"
		/>
	</head>

	<body>
		<div class="container">
			<div class="header">ML Recommender System</div>
			<!-- Main Input For Receiving Query to ML -->

			<div class="intro-content">
				This Web App is a Machine Learning Recommender System that
				recommends movies which are similar to the movie entered in the
				search box below.
				<div class="intro-content">
					The Machine Learning model has been trained on a dataset of
					approximately 6000 movies. The input features of the ML
					model consisted of the cast, genre, title and plot of the
					movie.
				</div>
			</div>

			<form action="{{ url_for('recommend_movies')}}" method="POST">
				<input
					type="text"
					name="title"
					class="input-text"
					placeholder="Enter a movie title like 'Star Trek', 'Hulchul', 'Logan', 'Men in black' "
					required="required"
				/>
				<button type="submit" class="submit_btn">Recommend</button>
			</form>

			<br />
			<br />
			{% if recommended_movie|length and recommended_movie is defined %}
			<table>
				{% for movie in recommended_movie %}
				<tr>
					<td class="float-left">{{ movie.Name }}</td>
					<td class="float-right">{{ movie.Genres|join(', ') }}</td>
				</tr>
				{% endfor %}
			</table>
			{% else %} {% if error_message is defined %}
			<div class="intro-content">
				Movie not in database.
				<div class="intro-content">
					Please enter another movie like, Star Trek, Logan, Men in
					black and Hulchul.
				</div>
			</div>
			{% endif %} {% endif %}
		</div>
	</body>
</html>
